<div class="min-h-screen flex flex-col items-start">
  <main class="sm:px-4 pb-5 md:px-8 md:max-w-7xl md:pb-12">
    <div class="flex items-baseline justify-between border-gray-200 pb-6 pt-24">
      <h1 class="text-4xl pl-4 font-bold text-white">Products</h1>

      <div class="flex items-center">
        <div>
          <button mat-button [matMenuTriggerFor]="sortMenu">Sort</button>
          <mat-menu #sortMenu="matMenu">
            <button (click)="handleSingleSelectFilter('price_high', 'sort')" mat-menu-item>
              Price: high-low
            </button>
            <button (click)="handleSingleSelectFilter('price_low', 'sort')" mat-menu-item>
              Price: low-high
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>

    <!-- Mobile View -->
    <section id="mobile-menu" class="grid md:hidden grid-col items-start justify-betweens">
      <div class="grid grid-cols-4">
        <div>
          <div class="flex items-start justify-between">
            <button mat-raised-button class="text-lg">
              Filters
              <mat-icon>filter_list</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </section>

    <!-- Products Desktop View -->
    <section id="desktop-menu" class="hidden md:flex pt-6 pl-4">
      <div class="grid grid-cols-2 gap-8 gap-y-10 md:grid-cols-6">
        <div>
          <div class="flex items-start justify-between">
            <p class="text-base">Filters</p>
            <button mat-raised-button btn-primary class="bg-primary-content pb-2" style="bottom: 0.3rem"
              (click)="filterProducts()">
              Filter
            </button>
          </div>
          <form class="hidden lg:block" action="">
            <cdk-accordion class="example-accordion">
              <div *ngFor="let item of filterData; index as i; let last = last">
                <div class="border-b border-gray-200 py-6">
                  <cdk-accordion-item #accordionItem="cdkAccordionItem" class="example-accordion-item" role="button"
                    tabindex="0" [attr.id]="'accordion-header-' + i" [attr.aria-expanded]="accordionItem.expanded"
                    [attr.aria-controls]="'accordion-body-' + i" (click)="accordionItem.toggle()">
                    <div class="example-accordion-item-header">
                      {{ item.name }}
                      <span class="example-accordion-item-description justify-self-end">
                        +
                      </span>

                      <div class="pt-6" id="filter-section-0">
                        <div class="scroll-py-4 example-accordion-item-body" role="region"
                          [style.display]="accordionItem.expanded ? '' : 'none'" [attr.id]="'accordion-body-' + i"
                          [attr.aria-labelledby]="'accordion-header-' + i">
                          <div *ngFor="let option of item.options">
                            <div class="flex items-center">
                              <!-- Use radio button if item.id is 'veracity' -->
                              <ng-container *ngIf="
                                  item.id === 'veracity';
                                  else checkboxTemplate
                                ">
                                <mat-radio-button [name]="item.id" [value]="option.value"
                                  (change)="handleSingleSelectFilter(option.value, item.id)">
                                  <span class="text-sm text-gray-500">
                                    {{ option.label }}
                                  </span>
                                </mat-radio-button>
                              </ng-container>

                              <!-- Checkbox template for other sections -->
                              <ng-template #checkboxTemplate>
                                <mat-checkbox [name]="item.id" [value]="option.value" (click)="
                                    handleMultipleSelectFilter(
                                      option.value,
                                      item.id
                                    )
                                  ">
                                  <span class="text-sm text-gray-500">
                                    {{ option.label }}
                                  </span>
                                </mat-checkbox>
                              </ng-template>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </cdk-accordion-item>
                </div>
                <mat-divider *ngIf="!last"></mat-divider>
              </div>
            </cdk-accordion>
            <cdk-accordion class="example-accordion">
              <div *ngFor="let item of singleFilter; index as i; let last = last">
                <div class="border-b border-gray-200 py-6">
                  <cdk-accordion-item #accordionItem="cdkAccordionItem" class="example-accordion-item" role="button"
                    tabindex="0" [attr.id]="'accordion-header-' + i" [attr.aria-expanded]="accordionItem.expanded"
                    [attr.aria-controls]="'accordion-body-' + i">
                    <div class="example-accordion-item-header font-medium" (click)="accordionItem.toggle()">
                      {{ item.name }}
                      <span class="example-accordion-item-description justify-self-end">
                        +
                      </span>

                      <div class="pt-6" id="filter-section-0">
                        <div class="scroll-py-4 example-accordion-item-body" role="region"
                          [style.display]="accordionItem.expanded ? '' : 'none'" [attr.id]="'accordion-body-' + i"
                          [attr.aria-labelledby]="'accordion-header-' + i">
                          <div *ngFor="let option of item.options">
                            <div class="flex items-center">
                              <mat-radio-button id="'filter - '+ option.value'" [name]="item.id" [value]="option.value">
                                <span class="text-sm text-gray-500">
                                  {{ option.label }}
                                </span>
                              </mat-radio-button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </cdk-accordion-item>
                </div>
                <mat-divider *ngIf="!last"></mat-divider>
              </div>
            </cdk-accordion>
          </form>
        </div>

        <div class="lg:col-span-5" #scrollContainer>
          <div class="flex flex-wrap justify-evenly">
            <!-- Loading spinner -->
            <div *ngIf="loading">
              <mat-spinner></mat-spinner>
              <p>Loading...</p>
            </div>
            <ng-container *ngIf="allProducts$ | async as allProducts">
              <div *ngFor="let product of allProducts">
                <app-product-card [product]="product"></app-product-card>
              </div>
            </ng-container>

            <ng-container *ngIf="navContentProducts$ | async as navProducts">
              <div *ngFor="let product of navProducts">
                <app-product-card [product]="product"></app-product-card>
              </div>
            </ng-container>

            <ng-container *ngIf="someProducts$ | async as someProducts">
              <ng-container *ngIf="someProducts.length > 0; else noResults">
                <div *ngFor="let product of someProducts">
                  <app-product-card [product]="product"></app-product-card>
                </div>
              </ng-container>
            </ng-container>
            <ng-template #noResults>
              <div>No Results Found</div>
            </ng-template>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>