<div id="about" class="relative bg-white overflow-hidden mt-16">
    <div class="max-w-7xl mx-auto">
        <div class="relative z-10 pb-8 bg-white sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">
            <svg class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-white transform translate-x-1/2"
                fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true"
                style="left: 540px;top: -200">
                <polygon points="0,0 100,0 20,105 0,10"></polygon>
            </svg>

            <div class=""></div>

            <main class="mt-8 mx-auto max-w-7xl px-4 sm:mt-8 sm:px-6 md:mt-12 lg:mt-16 lg:px-8 xl:mt-24">
                <div class="sm:text-center lg:text-left">
                    <h1
                        class="my-6 text-2xl tracking-tight font-extrabold text-center text-gray-900 sm:text-3xl md:text-4xl">
                        FAQ
                    </h1>
                    <h2 class="my-6 text-2xl tracking-tight font-extrabold text-gray-900 sm:text-3xl md:text-4xl">
                        What is this exactly?
                    </h2>

                    <p class="text-black font-semibold">
                        Earlier this year, I embarked on a personal project to develop a unique e-commerce platform. As
                        a consultant, most of my work has been internally facing or under proprietary agreements, so I
                        was eager to have a tangible project to discuss in interviews.
                        It had to be complex enough to require a front end and back but not so complex that I was
                        worried I couldn't finish it or get lost in it. I decided on e-commerce site because it seemed
                        sensible, for someone who worked mainly in financial institutions. I wanted to think through the
                        problems and constraints one would need to consider to make something that could function in the
                        real world. The only problem is that I wanted to avoid managing a store and shipping goods to
                        people for the sake of a resume-building exercise. "If only I could make a store that sold
                        things that were guaranteed no one would actually want to buy." The thought made me laugh, so I
                        made that the project's focus. The whole point of a store is that it's supposed to incentivize
                        people to make purchases, so if you want the opposite, how does that change design? Which was
                        intellectually engaging and funny enough to keep me motivated.
                    </p>
                    <span> </span>
                    <p class="text-black font-semibold">
                        In college, some of my first coding projects involved managing and digitizing artifacts for
                        museums. Through these projects, I learned about an early precursor to museums: the Cabinet of
                        Curiousness.
                        In short, they were collections of strange or fascinating curios that well-to-do eccentrics
                        accumulated and then made open to the general public. So I got to work creating an e-commerce
                        platform in a similar vein but in my own way. Instead of selling conventional products I'd take
                        advantage of the fact that it was fictional. I began scouring the internet for oddest things one
                        could purchase as well as inventing some with Photoshop's help (Asset design was another subject
                        I was interested in learning) . The subject matter might 'seem' frivolous and silly.
                        And, to be clear- it is. But I put a serious amount of effort and thought into an unserious
                        thing.
                        For example, sometimes online retailers intentionally implement poor design choices to motivate
                        or obfuscate the decision to spend money on their goods and services.
                        So, for my site, I decided to always let the customer know exactly how many items were inside
                        their cart and how much money they were spending (taxes and delivery fees included)
                        as opposed to hiding it until checkout. I used NGRX as a state management tool so that both
                        pieces of information could be updated responsively. I finished earlier than I thought, so I
                        started adding elements from various topics I was
                        interested in and wanted to learn more about. I wanted an excuse to learn more about networking,
                        so I created my internal network with private subnets on AWS and Docker. I was interested in
                        DevOps, so
                        I created an entire CI/CD pipeline to run, test, build, and deploy my code with a single button
                        press.
                    </p>
                    <span> </span>
                    <p class="text-black font-semibold">
                        Anyway, I hope you enjoy looking through my site. I had fun working on it. If you have any
                        questions or would like to know more about me, you can find my contact info on my personal site
                        <a class="text-blue-700" href="https://silaspacheco.com">HERE</a>.
                        <span> </span>
                        Have a good day on the internet!
                    </p>

                </div>
            </main>
        </div>
    </div>
    <div class="lg:absolute lg:inset-y-0 -ml-4 lg:right-0 lg:w-1/2">
        <img class="h-56 w-full object-cover object-top sm:h-72 md:h-96 lg:w-full lg:h-full"
            src="https://cdn.pixabay.com/photo/2016/03/23/04/01/woman-1274056_960_720.jpg" alt="">
    </div>
</div>