<div class="fixed top-0 z-50 right-0 left-0 bg-[#57df9d]">

    <div class="px-5 lg:px-20 h-16 flex items-center justify-between">
        <div class="flex items-center">
            <div class="mr-5">
                <button>
                    <img class="w-8" src="./assets/MoogleFFIXConcept.png" alt="Silas Code" (click)="navigateTo('/')">
                </button>
            </div>

            <div class="">
                <div class="flex space-x-4 mt-2">
                    <a routerlink="/" class="text-purple-600 font-bold pt-2">
                        Shop with Silas
                    </a>
                    <div>
                        <button
                            class="open-button cursor-pointer border-purple-300 focus:ring-4 focus:ring-purple-500 focus:ring-opacity-50 focus:outline-none sm:w-auto sm:px-6 border-text hover:shadow-lg hover:-translate-y-1 text-purple-600"
                            (click)="openNavbarContent('pointless')" mat-button>Pointless</button>
                    </div>
                    <div>
                        <button
                            class="open-button cursor-pointer border-purple-300 focus:ring-4 focus:ring-purple-500 focus:ring-opacity-50 focus:outline-none sm:w-auto sm:px-6 border-text hover:shadow-lg hover:-translate-y-1"
                            (click)="openNavbarContent('dangerous')" mat-button>Dangerous</button>
                    </div>
                    <div>
                        <button
                            class="cursor-pointer border-purple-300 focus:ring-4 focus:ring-purple-500 focus:ring-opacity-50 focus:outline-none sm:w-auto sm:px-6 border-text hover:shadow-lg hover:-translate-y-1"
                            (click)="navigateToProducts()" mat-button>Pointless &
                            <span>Dangerous</span>
                        </button>
                    </div>
                    <div>
                        <button
                            class="cursor-pointer border-purple-300 focus:ring-4 focus:ring-purple-500 focus:ring-opacity-50 focus:outline-none sm:w-auto sm:px-6 border-text hover:shadow-lg hover:-translate-y-1"
                            (click)="navigateTo('/admin')" mat-button>Admin Panel</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex items-center">

            <button (click)="handleOpenLogin()" *ngIf="!(currentUser$ | async)" mat-raised-button
                color="accent">LOGIN</button>

            <div *ngIf="currentUser$ | async as userProfile" class="relative ml-3 flex items-center">


                <ng-container class="flex items-center space-x-3">

                    <span class="font-bold text-gray-800 text-lg">{{userProfile.userName}}</span>
                    <button class="bg-slate-700" (click)="navigateTo('cart')" mat-icon-button>
                        <mat-icon [class.hide-badge]="!(itemCount$ | async)" matBadge="{{itemCount$ | async}}"
                            matBadgeColor="primary" matBadgeSize="small" matBadgeOverlap="true">shopping_cart
                        </mat-icon>
                    </button>
                    <button mat-button [matMenuTriggerFor]="profileMenu">
                        <img class="h-7 w-7"
                            src="https://cdn.pixabay.com/photo/2018/11/13/21/43/avatar-3814049_1280.png" alt="">
                    </button>

                    <mat-menu #profileMenu="matMenu">
                        <button (click)="navigateTo('account/orders')" mat-menu-item>Orders</button>
                        <button (click)="navigateTo('profile')" mat-menu-item>Profile</button>
                        <button mat-menu-item (click)="navigateTo('cart')">Cart</button>
                        <button mat-menu-item (click)="handleLogOut()">Logout</button>
                    </mat-menu>

                </ng-container>
            </div>
        </div>
    </div>
</div>

<div class="modal-container" *ngIf="isNavbarContentOpen">

    <app-nav-content [selectedCategory]="currentSection" />

</div>