<ng-container *ngIf="data$ | async as data">
    <div class="container">
        <form [formGroup]="registerForm">
            <h1>Shop With Silas</h1>
            <div>
                <!-- BACKEND ERRORS HERE -->
                <app-backend-errors *ngIf="data.backendErrors" style="color: crimson; font-weight: 500;"
                    [backendErrors]="data.backendErrors"></app-backend-errors>
                <mat-form-field class="w-full">
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="userName" required username>
                    <mat-error *ngIf="registerForm.controls['userName'].hasError('required')">Username is
                        Required</mat-error>
                    <mat-error *ngIf="registerForm.controls['userName'].hasError('username')">Please enter a valid
                        firstName address</mat-error>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required email>
                    <mat-error *ngIf="registerForm.controls['email'].hasError('required')">Email is Required</mat-error>
                    <mat-error *ngIf="registerForm.controls['email'].hasError('email')">Please enter a valid email
                        address</mat-error>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" required password>
                    <mat-error *ngIf="registerForm.controls['password'].hasError('required')">Password is
                        Required</mat-error>
                    <mat-error *ngIf="registerForm.controls['password'].hasError('minlength')">Password should be at
                        least 8 characters long</mat-error>
                </mat-form-field>

                <div>
                    <button style="padding : 1.7rem" mat-raised-button class="w-full" color="accent"
                        (click)="onSubmit()">REGISTER</button>
                </div>
                <div class="pt-5">
                    <span>Already have an account></span>
                    <button mat-button color="accent" (click)="changeTemplate()">
                        SIGN IN HERE
                    </button>
                </div>
            </div>

        </form>
    </div>
</ng-container>