<div class="relative h-[400px] bg-gradient-to-tr from-indigo-600 via-indigo-700 to-violet-800">
    <div class="flex flex-col gap-4 justify-center items-center w-full h-full px-3 md:px-0">

        <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold text-white">
            Admin Portal

        </h1>
        <p class="text-gray-300">
           Application update and Status

        </p>


        <div class="shadow-lg rounded-lg overflow-hidden mx-3 md:mx-4">
    <table class="w-full table-fixed">
        <thead>
            <tr class="bg-gray-100">
                <th class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase">Source</th>
                <th class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase">Toggle</th>
                <th class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase">URL</th>
                <th class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase">Status</th>
            </tr>
        </thead>
        <tbody class="bg-white">
            <tr>
                <td class="py-4 px-6 border-b border-gray-200">box</td>
                <td class="py-4 px-6 border-b border-gray-200 truncate">On</td>
                <td class="py-4 px-6 border-b border-gray-200">www.box.net</td>
                <td class="py-4 px-6 border-b border-gray-200">
                    <span class="bg-green-500 text-white py-1 px-2 rounded-full text-xs">Active</span>
                </td>
            </tr>
            <tr>
                <td class="py-4 px-6 border-b border-gray-200">FR</td>
                <td class="py-4 px-6 border-b border-gray-200 truncate">Off</td>
                <td class="py-4 px-6 border-b border-gray-200">www.frr.com</td>
                <td class="py-4 px-6 border-b border-gray-200">
                    <span class="bg-red-500 text-white py-1 px-2 rounded-full text-xs">Inactive</span>
                </td>
            </tr>
            <tr>