<div class="mt-7">

    <div>
        <app-main-carousel />
    </div>

    <div>
        <app-product-slider class="text-white" title="Injurious" [products]="Injurious" />
        <app-product-slider class="text-white" title="Silly" [products]="Silly" />
        <app-product-slider class="text-white" title="Confusing" [products]="Confusing" />
        <app-product-slider class="text-white" title="Ill-Concieved" [products]="IllConcieved" />
        <app-product-slider class="text-white" title="Mildly Upsetting" [products]="MildlyUpsetting" />
    </div>

</div>