<div class="mt-7">

    <div>
        <app-main-carousel/>
    </div>
    
    <div>
        <app-product-slider class="text-white" title= "Men's Jeans" [products]="Pants"/>
        <app-product-slider class="text-white" title= "Gowns" [products]="Gowns"/>
        <app-product-slider class="text-white" title= "Dresses" [products]="Dresses"/>
        <app-product-slider class="text-white" title= "Kurta" [products]="Kurta"/>
        <app-product-slider class="text-white" title= "Shoes" [products]="Shoes"/>
    </div>
    
</div>