<div class="box shadow-xl">
    <div class="grid grid-cols-12 gap-3">
        <div class="w-[3rem] h-[3rem]">
            <img
            class="w-full h-full rounded-full" 
            src="https://img.faballey.com/images/Product/ILS00539Z/d3.jpg"
            alt="" >

        </div>
    </div>

    <div class="col-span-6 lg:col-span-9">
        <div class="space-y-2">
            <div>
                <p class="font-semibold text-lg">SilasCode</p>
                <p class="opacity-70">April 5, 2024</p>
            </div>
            <div>
                <!-- <app-star-rating/> TODO: FIX--> 
            </div>
            <p>
                this is what a product review would look like.
            </p>

    </div>
</div>