<div class="box">

    <div class="grid grid-cols-6">
        <div class="col-span-3">
            <div class="flex items-center w-full">
                <img class="w-[5rem] h-[5rem] object-cover object-top" [src]="orderItems.product.imageUrl" alt="">

                <div class="ml-5">
                    <p class="font-semibold text-lg">{{orderItems.product.title}}</p>
                    <p class="text-sm text-gray-400">{{orderItems.size}}</p>
                    <p class="text-sm text-gray-400">{{orderItems.product.brand}}</p>
                </div>

            </div>
        </div>



        <div class="col-span-1">
            <p class="font-semibold text-lg">${{orderItems.discountedPrice}}</p>
        </div>

        <div class="col-span-2">
            <p class="font-semibold text-lg">Your Order is PENDING!</p>
            <p class="text-sm">Complete Checkout To Ship Item</p>
        </div>

    </div>
</div>