<div class="w-full">
    <div class="bg-gray-950 text-white w-full shadow-lg p-6">
        <div class="flex flex-wrap justify-between pt-7 space-x-8">
            <div class="flex flex-row space-x-4 items-start">
                <div class="flex-1 space-y-2" *ngFor="let section of navContent[selectedSection].categories">
                    <h2 class="text-lg font-semibold text-left">{{ section.name }}</h2>

                    <div class="flex flex-col space-y-2">
                        <button mat-button *ngFor="let category of section.items; let j = index" class="text-left py-1"
                            (click)="handleNavigate('/' + 'products' + '/' + selectedSection + '/' + category.value)">
                            {{ category.label }}
                        </button>
                    </div>
                </div>
            </div>

            <div class="flex-1 hidden lg:block" *ngFor="let feature of navContent[selectedSection].featured">
                <div class="mb-5">
                    <img class="w-[19rem] h-[20rem] object-cover object-top rounded-md" src="{{ feature.imageSrc }}"
                        alt="{{ feature.imageAlt }}" />
                    <p class="text-gray-600 font-bold">{{ feature.name }}</p>
                </div>
            </div>
        </div>
    </div>
</div>